<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 md3>

        <section>
          <figure v-if="response.length">
            <chart :options="chartBarOpen" :init-options="initOptions"></chart>
            <chart :options="chartBarClose" :init-options="initOptions"></chart>
          </figure>
          <div v-else>
            Loading ...
          </div>
        </section>
        <div v-for="(e, i) in errors" :key="i">
          {{ e.message }}
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Test',
  mounted () {
    axios.get(`http://wb-predictivemaintenance-api.prsp7vkew2.eu-central-1.elasticbeanstalk.com/api/TorqueValues`)
      .then(response => {
        this.response = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  },
  data () {
    return {
      errors: [],
      response: [],
      initOptions: {
        renderer: 'canvas'
      }
    }
  },
  computed: {
    responseFilteredByProfile () {
      return this.response.filter(item => item.Profile === 2)
    },
    responseFilteredByDirectionOpen () {
      return this.responseFilteredByProfile.filter(profile => profile.Direction === 'Open')
    },
    responseFilteredByDirectionClose () {
      return this.responseFilteredByProfile.filter(profile => profile.Direction === 'Close')
    },
    datasetSourceOpen () {
      return this.responseFilteredByDirectionOpen.map((item, i) => {
        return {
          index: i,
          average: item.AverageTorque,
          last: item.LastTorque
        }
      })
    },
    datasetSourceOpenSliced () {
      return this.datasetSourceOpen.slice(0, 100)
    },
    datasetSourceClose () {
      return this.responseFilteredByDirectionClose.map((item, i) => {
        return {
          index: i,
          average: item.AverageTorque,
          last: item.LastTorque
        }
      })
    },
    datasetSourceCloseSliced () {
      return this.datasetSourceClose.slice(0, 100)
    },
    chartBarOpen () {
      return {
        title: {
          text: 'OPEN',
          left: 30
        },
        legend: {
          icon: 'circle',
          padding: [40, 0, 0, 0],
          right: 60
        },
        tooltip: {},
        dataZoom: [
          {
            type: 'inside',
            xAxisIndex: [0],
            start: 0,
            end: 100
          },
          {
            type: 'inside',
            yAxisIndex: [0],
            start: 0,
            end: 100
          }
        ],
        dataset: {
          // Provide data.
          dimensions: ['index', 'average', 'last'],
          source: this.datasetSourceOpenSliced
        },
        // Declare X axis, which is a category axis, mapping
        // to the first column by default.
        xAxis: {
          type: 'category',
          name: 'Valve position',
          nameLocation: 'center',
          nameTextStyle: {
            padding: 15
          }
        },
        // Declare Y axis, which is a value axis.
        yAxis: {
          name: 'Required torque, (%)',
          nameLocation: 'center',
          nameTextStyle: {
            padding: 15
          }
        },
        // Declare several series, each of them mapped to a
        // column of the dataset by default.
        series: [
          {type: 'bar', name: 'Average open torque', itemStyle: {color: 'rgba(1, 90, 145, 0.7)'}},
          {type: 'bar', name: 'Last open torque', itemStyle: {color: 'rgba(139, 177, 229, 0.7)'}}
        ]
      }
    },
    chartBarClose () {
      return {
        title: {
          text: 'CLOSE',
          left: 30
        },
        legend: {
          icon: 'circle',
          padding: [40, 0, 0, 0],
          right: 60
        },
        tooltip: {},
        dataZoom: [
          {
            type: 'inside',
            xAxisIndex: [0],
            start: 0,
            end: 100
          },
          {
            type: 'inside',
            yAxisIndex: [0],
            start: 0,
            end: 100
          }
        ],
        dataset: {
          // Provide data.
          dimensions: ['index', 'average', 'last'],
          source: this.datasetSourceCloseSliced
        },
        // Declare X axis, which is a category axis, mapping
        // to the first column by default.
        xAxis: {
          type: 'category',
          name: 'Valve position',
          nameLocation: 'center',
          nameTextStyle: {
            padding: 15
          }
        },
        // Declare Y axis, which is a value axis.
        yAxis: {
          name: 'Required torque, (%)',
          nameLocation: 'center',
          nameTextStyle: {
            padding: 15
          }
        },
        // Declare several series, each of them mapped to a
        // column of the dataset by default.
        series: [
          {type: 'bar', name: 'Average open torque', itemStyle: {color: 'rgba(1, 90, 145, 0.7)'}},
          {type: 'bar', name: 'Last open torque', itemStyle: {color: 'rgba(139, 177, 229, 0.7)'}}
        ]
      }
    }
  }
}
</script>
