<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 md3>
        <v-toolbar flat dark color="primary">
          <v-btn icon>
            <v-icon >mdi-arrow-left</v-icon>
          </v-btn>
          <v-toolbar-title class="card-title">Terminal Overview</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon >mdi-menu</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card>
          <v-card-media
            class="white--text"
            height="200px"
            src="/static/terminal.png"
          ></v-card-media>
          <v-card-title primary-title>
            <div>
              <div>Terminal Name</div>
              <h5 class="headline mb-0"><b>WEST</b></h5>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 md9>
        <v-container class="pt-0">
          <v-tabs
            v-model="currentTab"
            color="white"
            slider-color="blue darken-2"
            class="sidebar"
          >
            <v-tab
              v-for="(tab, i) in tabs"
              :key="i"
            >
              {{ tab.title }}
            </v-tab>
          </v-tabs>
          <v-tabs-items v-model="currentTab">
            <v-tab-item
              v-for="(tab, i) in tabs"
              :key="i"
            >
              <v-card>
                <v-card-text>
                  <component :is="tab.component"></component>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Dashboard from './Tabs/Dashboard.vue'
import WorkOrders from './Tabs/WorkOrders.vue'
import AssetHealth from './Tabs/AssetHealth/Index.vue'
export default {
  name: 'IndexPage',
  data: () => ({
    tabs: [
      {id: 1, title: 'Dashboard', component: 'dashboard'},
      {id: 2, title: 'Asset health', component: 'asset-health'},
      {id: 3, title: 'Work orders', component: 'work-orders'}
    ],
    currentTab: 0
  }),
  components: {
    'dashboard': Dashboard,
    'work-orders': WorkOrders,
    'asset-health': AssetHealth
  }
}
</script>

<style scoped>
  .card-title{
    margin-left: 0;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
  }
</style>
