<template>
  <div>
    <div class="white">
      <v-toolbar flat dark color="primary" class="blue">
        <v-toolbar-title class="white--text">Asset Overview</v-toolbar-title>
        <v-btn icon>
          <v-icon>mdi-arrow-right</v-icon>
        </v-btn>
        <v-toolbar-title class="white--text">Master station 1-1</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon>mdi-map-marker</v-icon>
        </v-btn>
      </v-toolbar>

      <v-tabs
        color="white"
        slider-color="blue"
      >
        <v-tab
          v-for='item in assetItems'
          :key="item.id"
        >
          {{item.title}}
        </v-tab>
        <v-tab-item
          v-for='item in assetItems'
          :key="item.id"
        >
          <v-divider class="grey lighten-2"></v-divider>
          <v-card flat>
            <component :is="item.component"></component>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </div>
  </div>
</template>

<script>
import AlarmAnalytics from './Tabs/AlarmAnalytics.vue'
import Events from './Tabs/Events.vue'
import Position from './Tabs/Position.vue'
import TorqueProfile from './Tabs/TorqueProfile.vue'
import TravelTime from './Tabs/TravelTime.vue'
import WorkOrders from './Tabs/WorkOrders.vue'

export default {
  data () {
    return {
      assetItems: [
        {id: 1, title: 'Events', component: 'Events'},
        {id: 2, title: 'Position', component: 'Position'},
        {id: 3, title: 'Travel time', component: 'TravelTime'},
        {id: 4, title: 'Torque profile', component: 'TorqueProfile'},
        {id: 5, title: 'Work orders', component: 'WorkOrders'},
        {id: 6, title: 'Alarm Analytics', component: 'AlarmAnalytics'}
      ]
    }
  },
  components: {
    AlarmAnalytics,
    Events,
    Position,
    TorqueProfile,
    TravelTime,
    WorkOrders
  }
}
</script>
