<template>
  <v-app>
    <v-toolbar flat>
      <v-toolbar-title>Predictive Maintenance</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat class="login-btn">[First name] [Last name] <v-icon>mdi-chevron-down</v-icon></v-btn>
      </v-toolbar-items>
      <v-btn icon>
        <v-icon >mdi-power</v-icon>
      </v-btn>
    </v-toolbar>

    <v-content>
      <router-view></router-view>
    </v-content>

    <v-footer color="primary" app>
      <v-container class="pt-2">
        <span class="white--text">&copy; 2018</span>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'App'
}
</script>
<style scoped>
  .login-btn {
    text-transform: none;
  }
</style>
